.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  /* define la cantidad de columnas que va a tener */
  /* grid-template-columns: 100px 200px 300px; */

  grid-template-rows: 100px 200px;

  /* define el tamaño de las filas */
  /* grid-template-rows: 150px 250px; */
  /* definir el tamaño que va a tener cualquier fila o columna que se cree  este es para todas las rows */
  /* grid-auto-rows: 150px; */

  grid-auto-columns: 100px;

  /* modificar como se esta llenando nuestra fila  */
  /* columns crea columnas y no nuevas filas  */
  /* por defecto siempre se crea una fila */
  grid-auto-flow: column;

  /* crea espacios */
  /* este solo entre los espacios internos  */
  /* row-gap: 15px; */
  /* column-gap: 30px; */
  /* mismo para todos */
  gap: 40px;
}

.item {
  border: 5px solid #00bcd4;
  font-size: 4rem;
}
